@import "./variables";
@import "./mixins";

.about {
  &__container {
    background: $AboutMe;
    padding-bottom: 20px;
  }
  &__picture {
    display: none;
  }
  &__title {
    @include title;
  }
  &__text {
    margin: 0 10px 20px 20px;
    color: $ColorSecundario;
    font-weight: 300;
  }
  &__info {
    border: 2px solid $Button;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 15px;
    &-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
    }
    &-description {
      color: $ColorSecundario;
      font-weight: 300;
    }
    &-description strong {
      font-weight: 500;
    }
  }
  &__cv{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    color: $ColorSecundario;
    &:hover{
      color: $ColorPrimario;
    }
  }
  &__button {
    border: 1px solid $Button;
    border-radius: 5px;
    margin: auto;
    background: $Button;
    color: $ColorSecundario;
    font-weight: 500;
    transition: 0.3s linear;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover {
      color: $Button;
      background: $ColorSecundario;
      border: 1px solid $Button;
      -webkit-box-shadow: -4px 4px 5px 0px $Shadow;
      -moz-box-shadow: -4px 4px 5px 0px $Shadow;
      box-shadow: -4px 4px 5px 0px $Shadow;
    }
  }
  &__icon {
    transition: 0.3s linear;
  }
  @media (min-width: 768px) {
    &__container {
      padding: 30px 15px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    &__picture {
      display: block;
      width: 330px;
      transition: 0.3s linear;
      &:hover {
        -webkit-box-shadow: -8px 8px 5px 0px $Shadow;
        -moz-box-shadow: -8px 8px 5px 0px $Shadow;
        box-shadow: -8px 8px 5px 0px $Shadow;
      }
    }
    &__description {
      width: 55%;
    }
    
    &__button {
      margin-left: 20px;
    }
  }
  @media (min-width: 1024px){
    &__info {
      &-container {
        padding: 10px 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 25px;
        &-description:nth-child(1) {
          grid-area: 1 / 1 / 2 / 2;
        }
        &-description:nth-child(2) {
          grid-area: 1 / 2 / 2 / 3;
        }
        &-description:nth-child(3) {
          grid-area: 2 / 1 / 3 / 2;
        }
        &-description:nth-child(4) {
          grid-area: 2 / 2 / 3 / 3;
        }
        &-description:nth-child(5) {
          grid-area: 3 / 1 / 4 / 3;
        }
      }
    }
  }
}

.about__cv:hover > .about__icon {
  content: url("../Images//blackIcon.svg");
}
