@import "./variables";
@import "./mixins";

.contact {
  &__container {
    background: {
      image: url("../Images/contact-bg.jpg");
      position: center top;
      repeat: no-repeat;
      size: cover;
    }
    padding-bottom: 20px;
  }
  &__title {
    @include title;
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__name{
    @include form;
  }
  &__email{
    @include form;
  }
  &__subject{
    @include form;
  }
  &__message{
    @include form;
  }
  &__label{
    padding-left: 5px;
  }
  &__input{
    padding: 8px;
    border: none;
    border-radius: 3px;
    opacity: .7;
  }
  &__error{
    color: $Error;
    padding: 2px 5px;
    font-size: .8em;
  }
  &__text-area{
    resize: none;
    border: none;
    height: 100px;
    opacity: .7;
    padding: 8px;
    border-radius: 3px;
  }
  &__buttons{
    width: 68%;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    &-button:first-child{
      transition: .3s linear;
      @include buttons(15px, $ColorSecundario, $ColorPrimario)
    }
    &-button:last-child{
      transition: .3s linear;
      @include buttons(20px, $ColorPrimario, $ColorSecundario)
    }
  }
  &__confirm{
    color: $Confirm;
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 10px;
  }
  @media (min-width: 768px){
    &__title{
      text-align: center;
      margin-bottom: 20px;
    }
    &__buttons{
      width: 48%;
    }
  }
  @media (min-width: 1024px){
    &__buttons{
      width: 38%;
    }
  }
}
