@import "./variables";

@mixin title() {
  color: $ColorSecundario;
  font-weight: 500;
  font-size: 1.6em;
  text-decoration: underline;
  padding: 20px 10px 10px 10px;
}

@mixin form(){
  width: 70%;

  display: flex;
  flex-direction: column;
  gap: 2px;
  color: $ColorSecundario;
  font-weight: 300;
  @media (min-width: 768px){
    width: 50%;
  }
  @media (min-width: 1024px){
    width: 40%;
  }
}

@mixin buttons($space, $background, $color) {
  border: none;
  padding: 8px $space;
  background: $background;
  color: $color;
  font-weight: 300;
  border-radius: 3px;
  &:hover {
    color: $background;
    background: $color;
    -webkit-box-shadow: -4px 4px 5px 0px $Shadow;
    -moz-box-shadow: -4px 4px 5px 0px $Shadow;
    box-shadow: -4px 4px 5px 0px $Shadow;
  }
}
