@import "./variables";
@import "./mixins";

.proyects {
  &__container {
    background: $Proyects;
  }
  &__title {
    @include title;
  }
  &__cards {
    display: flex;
    overflow: auto;
  }
  @media(min-width: 768px){
    &__title{
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
