@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

$Font: 'Rubik', sans-serif;

$ColorPrimario: #0073D8;
$ColorSecundario: #fff;
$AboutMe: #002341;
$Button: #0073D8;
$Skills: #002B51;
$SkillsHover: #003767;
$Proyects: #00315C;
$Footer: #003767;
$Shadow: rgba(0, 0, 0, 0.75);